<div class="notifications">
  <hab-notifications
    [notifications]="state.notifications.all"
    [removeNotification]="removeNotification">
  </hab-notifications>
</div>
<div class="app {{ layout }}">
  <div class="wrapper">
    <nav class="menu" [class.open]="menuOpen">
      <hab-side-nav
        [isSignedIn]="isSignedIn"
        [enabledEvents]="enabledEvents"
        [enabledSaasEvents]="enabledSaasEvents">
      </hab-side-nav>
    </nav>
    <main>
      <div class="menu-toggle" (click)="toggleMenu()"></div>
      <hab-user-nav
        [isOpen]="isUserNavOpen"
        [isSignedIn]="isSignedIn"
        [username]="username"
        [avatarUrl]="avatarUrl"
        [signOut]="signOut"
        [toggleUserNavMenu]="toggleUserNavMenu">
      </hab-user-nav>
      <ng-container *ngIf="isSigningIn">
        <header></header>
        <div class="body">
          <h5>
            <hab-icon symbol="loading" class="spinning"></hab-icon>
            Loading...
          </h5>
        </div>
      </ng-container>
      <router-outlet *ngIf="!isSigningIn"></router-outlet>
    </main>
    <footer>
      <div class="pull-left">Copyright © 2012-2024 Progress Software Corporation and/or its subsidiaries or affiliates. All Rights Reserved.</div>
      <span>
        Need help? If you have questions or you're stuck,
        <a href="https://www.chef.io/support" target="_blank">we're here to help</a>.
      </span>
      <div class="pull-right">
        <a href="https://www.chef.io/end-user-license-agreement" target="_blank">End User License Agreement</a>
        <a href="https://www.progress.com/legal/privacy-policy" target="_blank">Privacy Policy</a>
        <a href="https://www.progress.com/legal/cookie-policy" target="_blank">Cookie Policy </a>
      </div>
    </footer>
  </div>
</div>
