hab-icon {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  line-height: 0;
  width: 1em;
  height: 1em;

  .mat-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    width: 100%;
    height: 100%;
    font-size: inherit;

    svg {
      display: block;
      width: 100%;
      height: 100%;

      path {
        fill: currentColor;
      }
    }
  }

  @each $key, $color in $icon-colors {
    &.#{$key} {
      color: #{$color};
    }
  }

  &.spinning {
    svg {
      transform-origin: 50%;
      animation: threeSixty 1s linear infinite;
    }
  }

  @keyframes threeSixty {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &.button {
    color: $hab-blue;
    cursor: pointer;
    transition: color $default-transition-duration;

    svg {
      background-color: $very-light-gray;
      transform: scale(1.4);
      padding: 2px;
      transition: background-color $default-transition-duration;
    }

    &:hover {
      color: $white;

      svg {
        background-color: $hab-blue;
      }
    }
  }
}
