hab-icon {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  line-height: initial;
  width: 1em;
  height: auto;

  .mat-icon {
    display: inline-block;
    line-height: inherit;
    width: auto;
    height: auto;

    svg {
      display: inline-block;

      path {
        fill: currentColor;
      }
    }
  }

  @each $key, $color in $icon-colors {
    &.#{$key} {
      color: #{$color};
    }
  }

  &.spinning {
    svg {
      transform-origin: 50%;
      animation: threeSixty 1s linear infinite;
    }
  }

  @keyframes threeSixty {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &.button {
    color: $hab-blue;
    cursor: pointer;
    transition: color $default-transition-duration;

    svg {
      background-color: $very-light-gray;
      transform: scale(1.4);
      padding: 2px;
      transition: background-color $default-transition-duration;
    }

    &:hover {
      color: $white;

      svg {
        background-color: $hab-blue;
      }
    }
  }
}
