@import "job-detail/job-detail.component";
@import "job-list/job-list.component";
@import "package-latest/package-latest.component";
@import "package-detail/package-detail.component";
@import "package-promote/package-promote.component";
@import "package-sidebar/package-sidebar.component";
@import "package-versions/package-versions.component";
