$tablet-width: 768px;
$desktop-width: 1024px;

@mixin shadow {
  box-shadow: $default-shadow; // 0 0 $small-margin 0 $medium-gray;
  border: $default-border;
}

@mixin shadow-panel {
  @include shadow;
  background-color: $white;
  border-radius: $default-radius;
  padding: $default-padding;
  height: auto;
  width: auto;
}

@mixin icon-size($size: 16) {
  width: #{$size}px;
  height: #{$size}px;
}

@mixin clickable-icon {
  cursor: pointer;
  @include icon-size(16);
}

@mixin tablet-up {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin vertically-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin tag($color: $white, $background-color: $dark-gray, $border-color: $dark-gray) {
  padding: 2px 10px;
  border: 1px solid $border-color;
  border-radius: 11px;
  font-size: $smaller-font-size;
  font-weight: 600;
  color: $color;
  background-color: $background-color;
}

@mixin transition($props...) {
  transition-property: $props;
  transition-duration: $default-transition-duration;
}

@mixin cta {
  background-color: $hab-orange;
  color: $white;
}

@mixin background-icon($symbol, $color) {
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">#{symbol-path($symbol, $color)}</svg>');
}

@function symbol-path($name, $fill) {

  // These SVG paths should be based on the icons defined in /assets/images/icons/all.svg.
  @if $name == 'menu' {
    @return '<path fill="#{url-escape-color($fill)}" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>';
  }
}

@function url-escape-color($color) {
  @return '%23#{str-slice(ie-hex-str($color), 4)}';
}
