<div class="job-list-component">
  <ol class="nav-list">
    <li class="heading">
      <h4>Version</h4>
      <h4>Name</h4>
      <h4>Created</h4>
      <h4></h4>
    </li>
    <li class="none" *ngIf="!jobs || jobs.size === 0">
      <span>There are no available build jobs for this package.</span>
    </li>
    <li class="item" *ngFor="let job of jobs" (click)="onClick(job)">
      <a>
        <span class="column name">
          {{ job.version || "&mdash;" }}
        </span>
        <span class="column package">
          {{ job.origin }} / {{ job.name }}
        </span>
        <span class="column date">
          {{ dateFor(job.created_at) }}
        </span>
        <span class="column icons">
          <hab-job-status-icon [job]="job"></hab-job-status-icon>
          <hab-icon symbol="chevron-right"></hab-icon>
        </span>
      </a>
    </li>
  </ol>
</div>
