.origin-members-tab-component {
  
  .action-list {
    font-size: $base-font-size; 
  }

  #dfo-section {
    text-align: right;

    button {
      margin: 1px;
      color: $hab-red;
      border: 1px solid $hab-red;
    }
  }
}