.origin-members-tab-component {
  
  .action-list {
    font-size: $base-font-size; 
  }

  #dfo-section {
    text-align: right;

    button {
      color: $hab-red;
      border: 1px solid $hab-red;
      box-shadow: none;
    }
  }
}