<div class="hab-package-settings">

  <!-- New Begin -->

    <div class="content">
      <section>
        <h3>Default Visibility</h3>
        <p>
          Set the visibility of build artifacts (.hart files) for the package.  Applies to future build artifacts only.  To change the visibility of the existing artifacts, see settings for each artifact.
        </p>
        <hab-visibility-selector 
          [visibilityContent]="visibilitySelectorContent"
          [setting]="visibility" 
          (changed)="updatePackageVisibility($event)">
        </hab-visibility-selector>
      </section>
    </div>

  <!-- New End -->

  <hab-project-settings [origin]="origin" [name]="name" [project]="project" [integrations]="integrations" (saved)="saved($event)"></hab-project-settings>
</div>
