.project-settings-component {

  .select-list {
    height: 198px;
    overflow: auto;
  }

  .installation-selector {
    h3 {
      margin-top: 0;
    }
  }

  @include tablet-up {
    .installation-selector {
      display: flex;

      > div {
        flex: 1;
        margin-right: $default-margin;
      }
    }
  }

  .note {
    margin-bottom: $default-margin;
    padding: $default-padding;
    background-color: $very-light-gray;
    border-radius: $default-radius;
    color: $dark-blue;
    display: flex;
    flex-direction: column;

    .note-icon {
      display: none;

      hab-icon {
        width: 24px;
        height: 24px;
      }
    }

    .note-text {
      padding: 0 0 $default-padding 0;

      p {
        margin: 0;
      }
    }

    .note-icon,
    .note-text,
    .note-cta {
      min-width: auto;
    }

    @include tablet-up {
      flex-direction: row;

      .note-icon {
        display: block;
      }

      .note-text {
        padding: 0 $default-padding;
      }
    }
  }

  code {
    font-family: $monospace-font-family;
    font-size: $small-font-size;
  }

  .connect {
    margin-bottom: $default-margin;

    .no-keys {
      color: $hab-blue;
      margin-left: 8px;

      hab-icon {
        margin-right: 4px;
      }

      a {
        color: $hab-links;
        text-decoration: underline;
      }
    }
  }

  .connect-btn {
    .connect-btn-text {
      padding-right: 10px;
      border-right: 1px solid $white;
      margin-right: 5px;
    }

    .connect-btn-icon {
      margin: 3px -10px 0 0;
      padding: 0;
    }

    &[disabled] .connect-btn-text {
      border-right-color: $disabled;
    }
  }

  .connect-plan-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: $white;
    overflow: scroll;

    .overlay-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10%;
      overflow: hidden;
      background: $very-light-gray;

      hab-platform-icon {
        margin-left: $default-margin;
      }

      .overlay-close {
        font-size: 30px;
        height: 30px;
      }
    }

    .overlay-body {
      padding: 1em 10%;
    }
  }

  .connected-plans {

    li {

      &.heading {
        border-bottom: 1px solid $very-light-gray;
      }

      .plan-path {
        margin-right: $small-margin;
      }

      .invalid-path-icon {
        color: map-get($icon-colors, alert);
      }
    }
  }

  .connecting {

    ol {
      background-color: $hab-blue;
      border-radius: $default-radius;
      color: $white;
      padding: 4px 14px;
      margin-bottom: $default-margin;

      li {
        display: inline-block;
        margin-right: 8px;

        &.active {
          font-weight: 600;
        }

        &:first-child {
          cursor: pointer;
        }

        &:not(:first-child) {
          &:before {
            content: '→';
            margin-right: 12px;
          }
        }
      }
    }

    .try-again {
      cursor: pointer;

      hab-icon {
        width: 0.9em;
        margin-right: 1px;
      }
    }

    .docker-export-settings {
      margin-top: 28px;
    }

    .repo-link {
      font-size: rem(12);
      float: right;
      display: block;
    }

    .controls {
      margin: $default-margin 0;

      a {
        cursor: pointer;
      }

      button, a {
        display: inline-block;
        font-size: rem(14);
        margin-right: 16px;
      }
    }
  }
}

.mat-menu-panel.connect-menu {
  max-width: none;

  .mat-menu-content:not(:empty) {
    padding: 0;
    border: $hab-borders;
  }

  .mat-menu-item {
    color: $hab-links;
    border-bottom: $hab-borders;
  }

  .mat-menu-item[disabled] {
    color: $disabled;
  }

  .mat-menu-item:last-child {
    border-bottom: none;
  }
}
