<div class="project-settings-component">
  <h3>Default Visibility</h3>
  <p>Set the default visibility of build artificats (.hart files) for the package. Applies to future build artifacts only. To change the visibility of the existing artifacts, see settings for each artifact in <a [routerLink]="['/pkgs', origin, name]">versions</a>.</p>
  <hab-visibility-selector [setting]="visibility" (changed)="settingChanged($event)"></hab-visibility-selector>

  <div class="note" *ngIf="!loadingInstallations && !gitHubAppInstalled">
    <div class="note-icon">
      <hab-icon symbol="github"></hab-icon>
    </div>
    <div class="note-text">
      <p>Install the Builder Github app and allow access to the plan repository before connecting a new plan or building from the existing plans. After it's installed, <a (click)="refresh()">refresh</a> this page.</p>
    </div>
    <div class="note-cta">
      <a href="{{ config['github_app_url'] }}" mat-raised-button color="primary" target="_blank">
        Install GitHub App <hab-icon symbol="open-in-new"></hab-icon>
      </a>
    </div>
  </div>

  <h3>Connected Plans</h3>
  <button mat-button mat-raised-button color="primary" class="button connect-btn" [matMenuTriggerFor]="menu" [disabled]="!hasPrivateKey || !gitHubAppInstalled">
    <span class="connect-btn-text">Connect a plan file</span>
    <hab-icon class="connect-btn-icon" symbol="drop-down"></hab-icon>
  </button>
  <mat-menu #menu="matMenu" [overlapTrigger]="false" class="connect-menu">
    <button mat-menu-item [disabled]="hasPlanFor('linux')" (click)="openConnect('linux')">for Linux (kernel version 3.2 or later)</button>
    <button mat-menu-item [disabled]="hasPlanFor('linux2')" (click)="openConnect('linux2')">for Linux 2 (kernel version 2.6.32 or later)</button>
    <button mat-menu-item [disabled]="hasPlanFor('windows')" (click)="openConnect('windows')">for Windows</button>
  </mat-menu>
  <span class="no-keys" *ngIf="!hasPrivateKey">
    <hab-icon symbol="add-circle"></hab-icon>
    <a [routerLink]="['/origins', origin, 'keys']">Add required origin keys</a>
  </span>

  <div class="connect" *ngIf="!projects.length > 0 && !connecting">
    <div *ngIf="name">
      <p>
        <strong>There are currently no Habitat plan files connected.</strong>
      </p>
      <p>If you have a plan file in a GitHub repo, connect it here for automated build jobs.</p>
      <p>
        <em>
          Don't have a plan file? Learn more about
          <a href="https://www.habitat.sh/docs/create-plans/">creating plan files</a> or
          <a href="{{ config['demo_app_url'] }}">try the demo app</a>.
        </em>
      </p>
    </div>
  </div>
  <div class="connected-plans" *ngIf="projects.length > 0 && !connecting">
    <ul class="action-list">
      <li class="heading">
        <h4>Plan</h4>
        <h4>Actions</h4>
      </li>
      <li class="item" *ngFor="let project of projects">
        <span class="column name">
          <hab-platform-icon [platform]="project.target"></hab-platform-icon>
          <span class="plan-path">{{ project.plan_path }}</span>
          <hab-icon 
            *ngIf="hasInvalidPlanPath(project)"
            class="invalid-path-icon"
            symbol="alert"
            title="Invalid plan file path">
          </hab-icon>
        </span>
        <span class="column actions">
          <hab-icon symbol="settings" (click)="openConnectEdit(project)" title="Edit this connection"></hab-icon>
          <hab-icon symbol="cancel" (click)="disconnect(project)" title="Remove this connection"></hab-icon>
        </span>
      </li>
    </ul>
  </div>
  <div class="connecting connect-plan-overlay" *ngIf="connecting">
    <div class="overlay-header">
      <h1 class="overlay-title">
        Connect a {{ planTargetName }} plan file to {{ origin }}
        <hab-platform-icon [platform]="target"></hab-platform-icon>
      </h1>
      <a class="overlay-close" (click)="clearConnection()">&times;</a>
    </div>
    <div class="overlay-body">
      <form [formGroup]="form" #formValues="ngForm">
        <div class="installation">
          <div *ngIf="loadingInstallations">
            <hab-icon symbol="loading" class="spinning"></hab-icon>
          </div>
          <div *ngIf="!loadingInstallations">
            <div *ngIf="installations.size > 0">
              <p>Choose the GitHub organization and repository that contain your Habitat plan file.</p>
              <div class="installation-selector">
                <div>
                  <h3>Organization</h3>
                  <ul class="select-list installations">
                    <li class="item" *ngFor="let install of installations"
                      [class.active]="activeInstallation === install"
                      (click)="pickInstallation(install)">
                      {{ install.get('account').get('login') }}
                    </li>
                  </ul>
                </div>
                <div>
                  <h3>Repository</h3>
                  <div *ngIf="!activeInstallation">
                    Choose an organization.
                  </div>
                  <div *ngIf="activeInstallation && loadingRepositories">
                    <hab-icon symbol="loading" class="spinning"></hab-icon>
                  </div>
                  <ul class="select-list repositories" *ngIf="activeInstallation && !loadingRepositories">
                    <li class="item" *ngFor="let repo of repositories"
                      [class.active]="activeRepo === repo"
                      (click)="pickRepo(repo)">
                      {{ repo.get('name') }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="github-note">
              <p>* Don't see the organization or repository? Grant builder access in <a href="{{ config['github_app_url'] }}" target="_blank">Builder GitHub App <hab-icon symbol="open-in-new"></hab-icon></a> and <a>Refresh</a> the page.</p>
            </div>
          </div>
        </div>
        <div>
          <h3>Path to Plan File</h3>
          <p>
            Enter the path to your plan file from the root of your repo. By default, we check for
            <code>{{ defaultPath }}</code>.
          </p>
          <div class="files">
            <hab-checking-input id="plan_path" name="plan_path" availableMessage="found." notAvailableMessage="does not exist in the repository."
              [unmatchedMessage]="unmatchedMessage" displayName="Plan file" [form]="form" [pattern]="unmatchedPattern"
              [maxLength]="false" [isAvailable]="doesFileExist" [value]="selectedPath" [disabled]="!selectedInstallation">
            </hab-checking-input>
          </div>
          <hr>
          <hab-docker-export-settings #docker [origin]="origin" [package]="name" [integrations]="integrations"
            [current]="dockerSettings" [enabled]="dockerEnabled">
          </hab-docker-export-settings>
          <hr>
          <hab-auto-build-settings [enabled]="autoBuild" (toggled)="autoBuildToggled($event)"></hab-auto-build-settings>
          <hr>
        </div>
        <div class="controls">
          <button mat-raised-button color="primary" class="button" (click)="saveConnection()" [disabled]="!validProject">
            {{ connectButtonLabel }} Connection
          </button>
          <a (click)="clearConnection()">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
