<div class="project-settings-component">
  <h3>Default Visibility</h3>
  <p>Set the default visibility of build artificats (.hart files) for the package. Applies to future build artifacts only. To change the visibility of the existing artifacts, see settings for each artifact in <a [routerLink]="['/pkgs', origin, name]">versions</a>.</p>
  <hab-visibility-selector [setting]="visibility" (changed)="settingChanged($event)"></hab-visibility-selector>

  <div class="note" *ngIf="!loadingInstallations && !gitHubAppInstalled">
    <div class="note-icon">
      <hab-icon symbol="github"></hab-icon>
    </div>
    <div class="note-text">
      <p>Install the Builder Github app and allow access to the plan repository before connecting a new plan or building from the existing plans. After it's installed, <a (click)="refresh()">refresh</a> this page.</p>
    </div>
    <div class="note-cta">
      <a href="{{ config['github_app_url'] }}" mat-raised-button color="primary" target="_blank">
        Install GitHub App <hab-icon symbol="open-in-new"></hab-icon>
      </a>
    </div>
  </div>

  <div class="connect" *ngIf="!project && !connecting">
    <button mat-raised-button color="primary" class="button" (click)="connect()" [disabled]="!hasPrivateKey">
      Connect a plan file
    </button>
    <span class="no-keys" *ngIf="!hasPrivateKey">
      <hab-icon symbol="add-circle"></hab-icon>
      <a [routerLink]="['/origins', origin, 'keys']">Add required origin keys</a>
    </span>
    <div *ngIf="name">
      <p>
        <strong>There are currently no Habitat plan files connected.</strong>
      </p>
      <p>If you have a plan file in a GitHub repo, connect it here for automated build jobs.</p>
      <p>
        <em>
          Don't have a plan file? Learn more about
          <a href="https://www.habitat.sh/docs/create-plans/">creating plan files</a> or
          <a href="{{ config['demo_app_url'] }}">try the demo app</a>.
        </em>
      </p>
    </div>
  </div>
  <div class="connected-plans" *ngIf="project && !connecting">
    <ul class="action-list">
      <li class="heading">
        <h4>Plan</h4>
        <h4>Status</h4>
        <h4>Actions</h4>
      </li>
      <li class="item">
        <span class="column name">
          <hab-icon [symbol]="iconFor(project.plan_path)"></hab-icon>
          <span>{{ project.plan_path }}</span>
        </span>
        <span class="column plan-status">
          <hab-icon symbol="check" class="success"></hab-icon>
          <span>connected</span>
        </span>
        <span class="column actions">
          <hab-icon symbol="settings" (click)="editConnection()" title="Edit this connection"></hab-icon>
          <hab-icon symbol="cancel" (click)="disconnect(project)" title="Remove this connection"></hab-icon>
        </span>
      </li>
    </ul>
  </div>
  <div class="connecting" *ngIf="connecting">
    <form [formGroup]="form" #formValues="ngForm">
      <ol>
        <li [class.active]="!selectedInstallation" (click)="clearConnection()">Select a GitHub repo</li>
        <li [class.active]="selectedInstallation">Set path to Habitat plan file</li>
      </ol>
      <div class="installation" *ngIf="!selectedInstallation">
        <div *ngIf="loadingInstallations">
          <hab-icon symbol="loading" class="spinning"></hab-icon>
        </div>
        <div *ngIf="!loadingInstallations">
          <div *ngIf="installations.size > 0">
            <p>
              Choose the GitHub organization and repository that
              <strong>contain your Habitat plan file</strong>.
            </p>
            <div class="installation-selector">
              <div>
                <h3>Organization</h3>
                <ul class="select-list installations">
                  <li class="item" *ngFor="let install of installations"
                    [class.active]="activeInstallation === install"
                    (click)="pickInstallation(install)">
                    {{ install.get('account').get('login') }}
                  </li>
                </ul>
              </div>
              <div>
                <h3>Repository</h3>
                <div *ngIf="!activeInstallation && !loadingRepositories">
                  Choose an organization.
                </div>
                <div *ngIf="loadingRepositories">
                  <hab-icon symbol="loading" class="spinning"></hab-icon>
                </div>
                <ul class="select-list repositories" *ngIf="activeInstallation && !loadingRepositories">
                  <li class="item" *ngFor="let repo of repositories"
                    [class.active]="activeRepo === repo"
                    (click)="pickRepo(repo)">
                    {{ repo.get('name') }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedInstallation">
        <a class="repo-link" href="{{ repoUrl }}" target="_blank">
          <hab-icon symbol="open-in-new"></hab-icon>
          Go to your repo
        </a>
        <h3>Path to Plan File</h3>
        <p>
          Enter the path to your plan file from the root of your repo. By default, we check for
          <code>habitat/plan.sh</code>.
        </p>
        <div class="files">
          <hab-checking-input id="plan_path" name="plan_path" availableMessage="found." notAvailableMessage="does not exist in the repository."
            unmatchedMessage="must be named either plan.sh or plan.ps1." displayName="Plan file" [form]="form" [pattern]="false"
            [maxLength]="false" [isAvailable]="doesFileExist" [value]="selectedPath">
          </hab-checking-input>
        </div>
        <hr>
        <hab-docker-export-settings #docker *ngIf="selectedInstallation" [origin]="origin" [package]="name" [integrations]="integrations"
          [current]="dockerSettings" [enabled]="dockerEnabled">
        </hab-docker-export-settings>
        <hr>
        <hab-auto-build-settings [enabled]="autoBuild" (toggled)="autoBuildToggled($event)"></hab-auto-build-settings>
        <hr>
      </div>
      <div class="controls">
        <button *ngIf="!selectedInstallation" mat-raised-button color="primary" class="button" (click)="next()" [disabled]="!repoSelected">
          Next &raquo;
        </button>
        <button *ngIf="selectedInstallation" mat-raised-button color="primary" class="button" (click)="saveConnection()" [disabled]="!validProject">
          {{ connectButtonLabel }} Connection
        </button>
        <a (click)="clearConnection()">Cancel</a>
      </div>
    </form>
  </div>
</div>
