  <!-- For now making inline css for div to move left will change it later-->
<div class="package-sidebar-component">
  <section *ngIf="platform && isOriginMember">
    <h3>Build</h3>
    <p class="disabled-build-msg">Building Packages using Builder is no longer supported. Please refer to <a href="https://docs.chef.io/habitat/pkg_build/" target="_blank">Building Packages</a> for building  packages within a Studio.</p>
  </section>
  <section *ngIf="isOriginMember && projectExists && hasPlan">
    <h3>Settings</h3>
    <ul>
      <li>
        <hab-icon symbol="github"></hab-icon> {{ repoName }}
        <a href="{{ repoUrl }}" target="_blank" title="View GitHub Repo">
          <hab-icon symbol="open-in-new"></hab-icon>
        </a>
      </li>
      <li>
        <hab-icon symbol="loading"></hab-icon>
        Auto-build {{ autoBuildSetting }}
      </li>
      <li>
        <hab-visibility-icon [visibility]="visibility" prefix="Default Package Visibility:"></hab-visibility-icon>
        {{ visibility | titlecase }} packages
      </li>
    </ul>
  </section>
  <h3>Latest</h3>
  <div class="sidebar-section" style="margin-left: 12px;">
    <section class="latest-stable" *ngIf="isLTSChannelExist">
      <h3 style="margin-bottom: 0px;"> {{ latestLTS  }}</h3>
      <div *ngIf="currentLts">
        <a [routerLink]="['./', currentLts.ident.version, currentLts.ident.release]">
          {{ currentLts.ident.version }}/{{ currentLts.ident.release }}
        </a>
        <span class="wbs" >{{ nameFrom(currentLts.target) }}</span>
      </div>
      <div *ngIf="!currentLts && !loadingCurrentLts">
        None.
        <a [routerLink]="['./']">View available versions</a>.
      </div>
    </section>
    <section class="latest-stable">
      <h3 style="margin-bottom: 0px;">Stable
        <hab-icon [hidden]="!shouldRenderDeprecation()" symbol="alert" title="Stable Channel is going to be deprecated for core, chef and chef-platform origins. We will communicate the details on EOL dates soon" style="float: none;"></hab-icon>
      </h3>
      <div *ngIf="latestStable">
        <a [routerLink]="['./', latestStable.ident.version, latestStable.ident.release]">
          {{ latestStable.ident.version }}/{{ latestStable.ident.release }}
        </a>
        <span class="wbs" >{{ nameFrom(latestStable.target) }}</span>
      </div>
      <div *ngIf="!latestStable && !loadingLatestStable">
        None.
        <a [routerLink]="['./']">View available versions</a>.
      </div>
    </section>
  </div>
</div>
