<div class="job-detail-component">
  <section class="back">
    <h3>
      <a [routerLink]="['../']">
        <span>Build Jobs</span>
      </a>
      <hab-icon symbol="chevron-right"></hab-icon>
      <span>{{ job.id }}</span>
    </h3>
  </section>
  <div class="summary">
    <div class="status {{ statusClass }}">
      <div *ngIf="jobState">
        <hab-job-status [job]="job"></hab-job-status>
        <div class="package" *ngIf="ident">
          <a [routerLink]="packageRoute">
            {{ ident }}
          </a>
          <hab-channels [channels]="job.channels"></hab-channels>
        </div>
      </div>
    </div>
    <div class="detail">
      <div class="item" *ngIf="job.owner_id">
        <div class="label">Build Job Group</div>
        <div class="data">
          <a [routerLink]="['/origins', job.origin, 'jobs', job.owner_id]">
            <span>{{ job.owner_id }}</span>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="label">Build Time</div>
        <div class="data">{{ elapsed || "&mdash;" }}</div>
      </div>
      <div class="item">
        <div class="label">Completed</div>
        <div class="data">{{ completed || "&mdash;" }}</div>
      </div>
    </div>
  </div>
  <div class="controls" [ngStyle]="controlsStyles" [hidden]="!showLog">
    <button type="button" class="jump-to-top" (click)="scrollToTop()">
      <hab-icon symbol="chevron-up"></hab-icon>
      <span>Jump to top</span>
    </button>
    <button type="button" class="jump-to-end" (click)="toggleFollow()" [class.active]="followLog">
      <hab-icon symbol="chevron-down"></hab-icon>
      <span>{{ completed ? "Jump to end" : "Follow log" }}</span>
    </button>
  </div>
  <div class="output-container {{ statusClass }}">
    <pre class="output log" [hidden]="!showLog"></pre>
    <pre class="output" [hidden]="!showPending">This job will begin in a moment.</pre>
  </div>
</div>
