[api]
data_path = "{{pkg.svc_data_path}}"
log_path = "{{pkg.svc_var_path}}"
key_path = "{{pkg.svc_files_path}}"
{{toToml cfg.api}}

[github]
app_private_key = "{{pkg.svc_files_path}}/builder-github-app.pem"
{{toToml cfg.github}}

[http]
{{toToml cfg.http}}

[oauth]
{{toToml cfg.oauth}}

{{~#eachAlive bind.router.members as |member|}}
[[routers]]
host = "{{member.sys.ip}}"
port = {{member.cfg.port}}
{{~/eachAlive}}

[s3]
{{toToml cfg.s3}}

[segment]
{{toToml cfg.segment}}

[ui]
root = "{{pkg.svc_static_path}}"

[upstream]
{{toToml cfg.upstream}}

[memcache]
ttl = {{cfg.memcache.ttl}}
{{~#each bind.memcached.members as |member|}}
[[memcache.hosts]]
host = "{{member.sys.ip}}"
port = {{member.cfg.port}}
{{~/each}}

[datastore]
{{toToml cfg.datastore}}
{{~#eachAlive bind.datastore.members as |member|}}
{{~#if @first}}
host = "{{member.sys.ip}}"
port = {{member.cfg.port}}
{{~/if}}
{{~/eachAlive}}
