log_level = "info"

[api]
features_enabled = "jobsrv"
targets = ["x86_64-linux", "x86_64-linux-kernel2", "x86_64-windows"]
build_targets = ["x86_64-linux", "x86_64-linux-kernel2", "x86_64-windows"]
build_on_upload = true

[http]
listen = "0.0.0.0"
port   = 9636

[oauth]
provider       = "github"
token_url      = "https://github.com/login/oauth/access_token"
userinfo_url   = "https://api.github.com/user"
redirect_url   = ""
client_id      = ""
client_secret  = ""

[github]
api_url        = "https://api.github.com"
app_id         = 5565
webhook_secret = ""

[s3]
backend = "minio"
key_id = "depot"
secret_key = "password"
endpoint = "http://localhost:9000"
bucket_name = "habitat-builder-artifact-store.default"

[artifactory]
api_url = "http://localhost:8080"
api_key = "key"
repo = "habitat-builder-artifact-store.default"

[memcache]
ttl = 15

[datastore]
user = "hab"
password = ""
database = "builder"
connection_retry_ms = 300
connection_timeout_sec = 3600
db_workers = 4
host = "127.0.0.1"
port = 5432

[eventbus]
provider = "kafka"
bootstrap_nodes = ["localhost:9092"]
client_id = "http://localhost"
connection_retry_ms = 300
