.channels-component {
  display: inline-block;

  ul {
    cursor: default;
    display: inline-block;
    margin-top: $small-margin;
    line-height: 16.5px;

    li {
      display: inline-block;

      // Other channels eg foo
      @include tag($color: $other-button-text, $background-color: $other-button-bg, $border-color: $light-blue);

      // base-yyyy channel eg base, base-2025
      &[class^="base"] {
        color: $base-button-text;
        background-color: $base-button-bg;
      }

      // Stable channel
      &.stable {
        color: $stable-button-text;
        background-color: $stable-button-bg;
      }

      // innovation channel eg innovation-2024
      &[class^="innovation-"] {
        color: $innovation-button-text;
        background-color: $innovation-button-bg;
      }

      // Unstable channel
      &.unstable {
        color: $unstable-button-text;
        background-color: $unstable-button-bg;
        border-color: $unstable-button-border-color;
      }

      &:not(:last-child) {
        margin-right: $default-margin / 4;
      }

      hab-icon[symbol="cancel"] {
        cursor: pointer;
        margin: 0 -4px 0 4px;
        @include icon-size(16);
      }
    }
  }
}

