.statuspage-component {
  > .color-dot {
    border-radius: 50%;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: $default-margin / 2;

    &.major_outage         { background-color: $hab-red; }
    &.partial_outage       { background-color: $hab-orange; }
    &.degraded_performance { background-color: $hab-yellow; }
    &.operational          { background-color: $hab-green; }
  }

  > .color-description {
    font-size: $small-font-size;
    text-transform: capitalize;
  }
}