<a [routerLink]="['/origins', ident.origin]">
  {{ident.origin}}
</a>
<ng-container *ngIf="ident.name">
  <span>/</span>
  <a [routerLink]="['/pkgs', ident.origin, ident.name]">
    {{ident.name}}
  </a>
</ng-container>
<ng-container *ngIf="ident.version">
  <span>/</span>
  <a [routerLink]="['/pkgs', ident.origin, ident.name, ident.version]">
    {{ident.version}}
  </a>
</ng-container>
<ng-container *ngIf="ident.release">
  <span>/</span>
  <a [routerLink]="['/pkgs', ident.origin, ident.name, ident.version, ident.release]">
    {{ident.release}}
  </a>
</ng-container>
