<div class="origins-page-component">
  <header>
    <h1>My Origins</h1>
  </header>
  <div class="body">
    <div class="content">
      <section *ngIf="ui.loading">
        <hab-icon symbol="loading" class="spinning"></hab-icon>
      </section>
      <section *ngIf="!config.is_saas">
        <a mat-raised-button color="primary" [routerLink]="['/origins', 'create']">Create origin</a>
      </section>
      <section *ngIf="config.is_saas">
        <p class="error"><b>Important Notice:</b> We would like to inform you that we have disabled the creation of origins in our hosted Chef Habitat Builder (bldr.habitat.sh). However, you can still continue to install an on-prem or self-hosted habitat builder by following these instructions (<a href="https://docs.chef.io/habitat/on_prem_builder/" target="_blank">more info here</a>).  Please <a href="https://www.chef.io/contact-us" target="_blank">contact us</a> if you would like to know more</p>
      </section>
      <div *ngIf="!ui.loading">
        <section *ngIf="origins.size === 0 && !ui.errorMessage">
          <p>
            <strong>You are not currently an owner or member of any origins.</strong>
          </p>
        </section>
        <section *ngIf="origins.size > 0">
          <ul class="nav-list">
            <li class="heading">
              <h4>Origin Name</h4>
              <h4>Packages</h4>
              <h4>Default Visibility</h4>
              <h4></h4>
            </li>
            <li class="item" [class.invitation]="isInvitation(item)" *ngFor="let item of origins" (click)="navigateTo(item)">
              <a>
                <span class="column name">{{ name(item) }}</span>
                <span class="column package-count">{{ packageCount(item) }}</span>
                <span class="column visibility">
                  <hab-icon [symbol]="visibilityIcon(item)" [title]="visibilityLabel(item)"></hab-icon>
                </span>
                <span class="column actions">
                  <span *ngIf="isInvitation(item)">
                    <span class="action" (click)="accept(item)">
                      <hab-icon symbol="check"></hab-icon>
                      Accept Invitation
                    </span>
                    <span class="action" (click)="ignore(item)">
                      <hab-icon symbol="no"></hab-icon>
                      Ignore Invitation
                    </span>
                  </span>
                </span>
                <hab-icon symbol="chevron-right"></hab-icon>
              </a>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
