<div class="package-detail-component">
  <ul class="toggle-list" *ngIf="hasChannels()">
    <li class="heading">
      <h4>Channels</h4>
      <h4>Published</h4>
      <h4></h4>
    </li>
    <div *ngFor="let channel of package.channels">
      <li class="item">
        <span class="column name">{{ channel }}</span>
        <span class="column">
          <hab-date [date]="promotedDate(channel)"></hab-date>
        </span>
        <span class="column">
          <button [disabled]="updating" *ngIf="canShowDemote(channel)" class="action active" type="button" (click)="handleDemote(channel)">Demote</button>
          <button [disabled]="updating" *ngIf="canShowPromote(channel, package)" class="action" type="button" (click)="handlePromote(channel)">Promote</button>
        </span>
      </li>
    </div>
  </ul>
</div>
