<div class="sign-in-page-component">
  <a class="logo" href="{{ wwwUrl }}">
    <img src="/assets/images/habitat-logo.svg" alt="Habitat">
  </a>
  <div class="body">
    <div class="content">
      <section class="upper">
        <a mat-raised-button color="primary" class="button" href="{{ loginUrl }}">
          <hab-icon [symbol]="providerType"></hab-icon>
          <span>Sign In with {{ providerName }}</span>
        </a>
      </section>
      <section class="lower">
        <p *ngIf="signupUrl">
          Don't have a {{ providerName }} account?
          <a href="{{ signupUrl }}" target="_blank">Sign up here</a>.
        </p>
        <p>
          New to Habitat? Signing in will also create a new account.
        </p>
      </section>
    </div>
  </div>
  <p class="footnote">
    By clicking on "Sign in with GitHub", you are agreeing to the
    <a href="{{ wwwUrl }}/legal/terms-and-conditions/" target="_blank">Terms of Service</a> and
    <a href="{{ wwwUrl }}/legal/privacy-policy/" target="_blank">Privacy Policy</a>.
  </p>
  <img class="habicat" src="/assets/images/habicat.svg">
</div>
