// table needs border radius still
// must be done via th or td

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;

  color: #5C6670;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(217,224,230,0.4);
}


tr {
  border: 1px solid #DCE6EE;

  a {
    display: block;
    padding: 16px;
  }
}

th, td {
  color: #5C6670;
  text-align: left;
}

th {
  padding: 16px;
  background-color: #E8F0F6;
  font-size: 12px;
  font-family: Montserrat,Verdana;
  text-transform: uppercase;
}

td {
  position: relative;

  &.package-name {
    width: 30%;
  
    span {
      color: #5C6670;
      font-weight: 600;
      word-wrap: break-word;
    }
  }
  
  &.platform {
    width: 65%;

    hab-platform-icon {
      display: inline-block;
      position: relative;
    }

    .chevron-right {
      display: none;
      visibility: hidden;
      position: absolute;
      right: 6px;
      top: calc(50% - 11px); // hab icon is 22px tall.  this centers the icon vertically

    .mat-icon {
      color: #5C6670;
      height: 22px;
      width: 22px;
      }
    }

  }

  &.opt-chevron-right {
    width: 5%
  }
}

tr {

  &:hover {
    td {
      background-color: #fbfbfb;
    }

    .chevron-right {
      display: block;
      visibility: visible;
    }
  }
}
