<div class="body">
  <div class="content">
    <section *ngIf="builderEnabled && memberOfOrigin">
      <hab-project-settings
        [origin]="origin"
        [integrations]="integrations"
        (toggled)="toggled($event)"
        (saved)="saved($event)">
      </hab-project-settings>
    </section>

    <section *ngIf="!selectingPlan">
      <table>
        <thead>
          <tr>
            <th>Package Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pkg of packages">
            <td class="package-name">
              <a [routerLink]="['/pkgs', pkg.origin, pkg.name, 'latest']">
                <span class="column name">{{ pkg.name }}</span>
                <hab-icon symbol="chevron-right" class="chevron-right"></hab-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div *ngIf="packages.size < totalCount">
        Showing {{packages.size}} of {{totalCount}} packages.
        <a (click)="fetchMorePackages()">
          Load {{(totalCount - packages.size) > perPage ? perPage : totalCount - packages.size }} more.
        </a>
      </div>
    </section>
  </div>

  <aside>
    <h3>Default Package Visibility</h3>
    <p>
      <hab-visibility-icon [visibility]="defaultVisibility" prefix="Default Package Visibility:"></hab-visibility-icon>
      {{ defaultVisibility | titlecase }} Packages
    </p>
    <h3>Manual Upload</h3>
    <p>
      You can upload pre-built packages to the Origin following the instruction in the
      <a 
      href="{{ docsUrl }}/using-builder/#upload-and-promote-packages" target="_blank">
      Docs
      <hab-icon symbol="open-in-new"></hab-icon>
      </a>.
    </p>
  </aside>

</div>