#!/bin/sh

APP_HOSTNAME="localhost"
OAUTH_PROVIDER="github"
OAUTH_USERINFO_URL="https://api.github.com/user"
OAUTH_AUTHORIZE_URL="https://github.com/login/oauth/authorize"
OAUTH_TOKEN_URL="https://github.com/login/oauth/access_token"
OAUTH_CLIENT_ID="Iv1.04b78696442708f6"
OAUTH_CLIENT_SECRET="b4acf029896e9c7fb6613390124e8ae3c35889aa"
OAUTH_REDIRECT_URL="http://localhost/"
GITHUB_API_URL="https://api.github.com"
GITHUB_APP_ID=8053
GITHUB_APP_URL="https://github.com/apps/habitat-builder-dev-studio"
