<div class="page-container">
  <div class="page-header">
    <h1>{{ originName }}</h1>
  </div>
  <div class="page-content">
    <mat-card>
      <mat-card-content>
        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
          <a mat-tab-link
             routerLink="."
             [routerLinkActiveOptions]="{exact: true}"
             routerLinkActive #overview="routerLinkActive"
             [active]="overview.isActive">Overview</a>
          <a mat-tab-link
             routerLink="settings"
             routerLinkActive #settings="routerLinkActive"
             [active]="settings.isActive">Settings</a>
          <a mat-tab-link
             routerLink="members"
             routerLinkActive #members="routerLinkActive"
             [active]="members.isActive">Members</a>
          <a mat-tab-link
             routerLink="keys"
             routerLinkActive #keys="routerLinkActive"
             [active]="keys.isActive">Keys</a>
          <a mat-tab-link
             routerLink="integrations"
             routerLinkActive #integrations="routerLinkActive"
             [active]="integrations.isActive">Integrations</a>
        </nav>
        <mat-tab-nav-panel #tabPanel>
        
        <!-- Router outlet for nested routes -->
        <div class="tab-content">
          <router-outlet></router-outlet>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
