<div class="visibility-selector-component">
  <mat-radio-group class="wrapper" [(ngModel)]="setting" (change)="change($event)">
    <mat-radio-button class="selector" [class.active]="setting === 'public'" value="public">
      <h5>
        Public {{ settingLabel }}
        <hab-icon symbol="public"></hab-icon>
      </h5>
      <span>
        {{ publicDescription }}
      </span>
    </mat-radio-button>
    <mat-radio-button class="selector" [class.active]="setting === 'private'" value="private">
      <h5>
        Private {{ settingLabel }}
        <hab-icon symbol="lock"></hab-icon>
      </h5>
      <span>
        {{ privateDescription }}
      </span>
    </mat-radio-button>
  </mat-radio-group>
</div>
