<header>
  <h1>
    <hab-package-breadcrumbs [ident]="ident"></hab-package-breadcrumbs>
    <hab-visibility-icon *ngIf="isOriginMember && !version && !activeRelease" [visibility]="activeSettings?.visibility || defaultVisibility" prefix="Default Package Visibility:"></hab-visibility-icon>
    <hab-visibility-icon *ngIf="isOriginMember && activeRelease" [visibility]="activePackage?.visibility"  prefix="Artifact Visibility:"></hab-visibility-icon>
  </h1>
  <h2>{{ subheading }}</h2>
</header>
<nav class="tabs" mat-tab-nav-bar>
  <ng-container *ngIf="!activeRelease">
    <a
      mat-tab-link
      routerLink="latest"
      routerLinkActive
      #latest="routerLinkActive"
      [active]="latest.isActive">
      Latest
    </a>
    <a
      mat-tab-link
      routerLink="./"
      [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive
      #versions="routerLinkActive"
      [active]="versions.isActive">
      Versions
    </a>
    <a
      mat-tab-link
      *ngIf="builderEnabled && isOriginMember"
      routerLink="jobs"
      routerLinkActive
      #jobs="routerLinkActive"
      [active]="jobs.isActive">
      Build Jobs
    </a>
    <a
      mat-tab-link
      *ngIf="builderEnabled && isOriginMember"
      routerLink="settings"
      routerLinkActive
      #settings="routerLinkActive"
      [active]="settings.isActive">
      Settings
    </a>
  </ng-container>
  <ng-container *ngIf="activeRelease">
    <a
      mat-tab-link
      [routerLink]="['./', version, release]"
      [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive
      #releaseManifest="routerLinkActive"
      [active]="releaseManifest.isActive">
      Manifest
    </a>
    <a
      *ngIf="builderEnabled && isOriginMember"
      mat-tab-link
      [routerLink]="['./', version, release, 'settings']"
      routerLinkActive
      #releaseSettings="routerLinkActive"
      [active]="releaseSettings.isActive">
      Settings
    </a>
  </ng-container>
</nav>
<div class="body">
  <div class="content" [class.full]="useFullWidth">
    <hab-job-notice [job]="activeJob" *ngIf="showActiveJob"></hab-job-notice>
    <router-outlet (activate)="onRouteActivate($event)"></router-outlet>
  </div>
  <aside *ngIf="showSidebar">
    <hab-package-sidebar
      [origin]="origin"
      [name]="name"
      [target]="target"
      [isOriginMember]="isOriginMember"
      [isNewProject]="isNewProject"
      [hasPlan]="hasPlan"
      [building]="building">
    </hab-package-sidebar>
  </aside>
  <aside *ngIf="showReleaseSidebar">
    <h3>Settings</h3>
    <ul>
      <li>
        <hab-visibility-icon [visibility]="activePackage.visibility" prefix="Artifact visibility:"></hab-visibility-icon>
        {{ activePackage.visibility | titlecase }} artifact
      </li>
    </ul>
  </aside>
</div>
