.package-versions-component {

  .nav-list {

    .name {
      flex: 6;

      .release-name {
        display: block;
      }
    }

    .build-date {
      flex: 3;
    }

    .os {
      white-space: nowrap;
    }

    .channels {
      margin-top: -$default-margin;
      margin-bottom: $default-margin;

      hab-channels {
        margin-right: 2px;
      }
    }
  }

  .zeroed {
    padding: 0;
    margin: 0;
  }
}
