<div class="origin-job-detail-component body">
  <div class="content">
    <h3>
      <a (click)="backToGroups()">Build Job Groups </a>
      / Group {{ this.id }}
    </h3>
    <section class="jobgroup-overview">
      <section class="jobgroup-details">
        <div class="jobgroup-overview-item">
          <h4 class="jobgroup-overview-item-title">Initiated By</h4>
          <p class="jobgroup-overview-item-value">{{ thisGroup.project_name }}</p>
        </div>
        <div class="jobgroup-overview-item">
          <h4 class="jobgroup-overview-item-title">Group ID</h4>
          <p class="jobgroup-overview-item-value">{{ thisGroup.id }}</p>
        </div>
        <div class="jobgroup-overview-item">
          <h4 class="jobgroup-overview-item-title">Created</h4>
          <p class="jobgroup-overview-item-value">{{ dateFor(thisGroup.created_at) }}</p>
        </div>
      </section>
      <section class="jobgroup-status">
        <div class="jobgroup-overview-item jobgroup-complete-total">
          <h4 class="jobgroup-overview-item-title">Complete / Total</h4>
          <p class="jobgroup-overview-item-value">{{ completedCount }} / {{ totalCount }}</p>
        </div>
        <div class="jobgroup-overview-item jobgroup-status-icongroup">
          <h4 class="jobgroup-overview-item-title">Job Status</h4>
          <div class="jobgroup-overview-item-value jobgroup-status-icons">
            <div class="jobgroup-status-count">
              <hab-icon [symbol]="iconFor('complete')" class="status complete" title="complete"></hab-icon>
              {{ projectStateCount('success') }}
            </div>
            <div class="jobgroup-status-count">
              <hab-icon [symbol]="iconFor('failure')" class="status failure" title="failure"></hab-icon>
              {{ projectStateCount('failure') }}
            </div>
            <div class="jobgroup-status-count">
              <hab-icon [symbol]="iconFor('pending')" class="status pending" title="pending"></hab-icon>
              {{ projectStateCount('pending') }}
            </div>
            <div class="jobgroup-status-count">
              <hab-icon [symbol]="iconFor('processing')" class="status processing" title="processing"></hab-icon>
              {{ projectStateCount('processing') }}
            </div>
            <div class="jobgroup-status-count">
              <hab-icon [symbol]="iconFor('cancelled')" class="status cancelled" title="cancelled"></hab-icon>
              {{ projectStateCount('cancelled') }}
              </div>
          </div>
        </div>
      </section>
    </section>
    <section class="jobgroup-list">
      <ol class="nav-list">
        <li class="heading">
          <h4>Package</h4>
          <h4>Job Status</h4>
        </li>
        <li class="item" *ngFor="let project of projects">
          <a>
            <span class="column jobgroup-list-name">
              {{ project.name }}
            </span>
            <span class="column jobgroup-list-icons">
              <hab-icon [symbol]="iconFor(project.state)" class="status {{ project.state | lowercase }}" title="{{ project.state | titlecase }}"></hab-icon>
              <hab-icon symbol="web-asset" class="icon-button" (click)="onSelectJob(project.name, project.job_id)" title="View Build Job"></hab-icon>
            </span>
          </a>
        </li>
      </ol>
    </section>
  </div>
</div>
