<div class="origin-job-detail-component body">
  <div class="content full">
    <h3>
      <a (click)="backToGroups()">Build Job Groups </a>
      / Group {{ id }}
    </h3>
    <section class="jobgroup-overview">
      <section class="jobgroup-details">
        <div class="jobgroup-overview-item">
          <h4 class="jobgroup-overview-item-title">Initiated By</h4>
          <p class="jobgroup-overview-item-value">{{ group.project_name }}</p>
        </div>
        <div class="jobgroup-overview-item">
          <h4 class="jobgroup-overview-item-title">Group ID</h4>
          <p class="jobgroup-overview-item-value">{{ group.id }}</p>
        </div>
        <div class="jobgroup-overview-item">
          <h4 class="jobgroup-overview-item-title">Created</h4>
          <p class="jobgroup-overview-item-value">{{ dateFor(group.created_at) }}</p>
        </div>
      </section>
      <section>
        <hab-job-status [job]="group"></hab-job-status>
      </section>
      <section class="jobgroup-status">
        <div class="jobgroup-overview-item">
          <h4 class="jobgroup-overview-item-title">Complete / Total</h4>
          <p class="jobgroup-overview-item-value">{{ completedCount }} / {{ totalCount }}</p>
        </div>
        <div class="jobgroup-overview-item jobgroup-status-icongroup">
          <h4 class="jobgroup-overview-item-title">Job Status</h4>
          <div class="jobgroup-overview-item-value jobgroup-status-icons">
            <div class="jobgroup-status-count">
              <hab-job-status-icon status="success"></hab-job-status-icon>
              {{ projectStateCount('success') }}
            </div>
            <div class="jobgroup-status-count">
              <hab-job-status-icon status="failure"></hab-job-status-icon>
              {{ projectStateCount('failure') }}
            </div>
            <div class="jobgroup-status-count">
              <hab-job-status-icon status="notstarted"></hab-job-status-icon>
              {{ projectStateCount('notstarted') }}
            </div>
            <div class="jobgroup-status-count">
              <hab-job-status-icon status="inprogress"></hab-job-status-icon>
              {{ projectStateCount('inprogress') }}
            </div>
            <div class="jobgroup-status-count">
              <hab-job-status-icon status="canceled"></hab-job-status-icon>
              {{ projectStateCount('canceled') }}
              </div>
          </div>
        </div>
        <div class="jobgroup-overview-item">
          <h4 class="jobgroup-overview-item-title">&nbsp;</h4>
          <div class="jobgroup-overview-item-value">
            <span class="jobgroup-actions">
              <a *ngIf="cancelableCount > 0" class="cancel" (click)="cancel(id)">
                <hab-icon symbol="no"></hab-icon>
                Cancel remaining jobs
              </a>
            </span>
          </div>
        </div>
      </section>
    </section>
    <section class="jobgroup-list">
      <ol class="nav-list">
        <li class="heading">
          <h4>Package</h4>
          <h4>Job Status</h4>
        </li>
        <li class="item" *ngFor="let project of projects">
          <a>
            <span class="column jobgroup-list-name">
              {{ project.name }}
            </span>
            <span class="column jobgroup-list-icons">
              <hab-job-status-icon [job]="project" [animate]="true"></hab-job-status-icon>
              <hab-icon *ngIf="hasJobId(project)" symbol="web-asset" class="button" (click)="onSelectJob(project.name, project.job_id)" title="View Build Job"></hab-icon>
            </span>
          </a>
        </li>
      </ol>
    </section>
  </div>
</div>
