.origin-integrations-tab-component {

  .buttons {

    @include tablet-up {
      display: flex;
    }

    .wrapper {
      @include shadow;
      margin: $default-margin $default-margin $default-margin 0;
      width: 100%;

      @include tablet-up {
        width: 360px;
      }
    }

    button {
      padding: 0;
      width: 100%;

      color: $hab-text;

      .mat-button-wrapper {
        position: relative;

        @include tablet-up {
          flex: 1;
        }

        display: flex;
        align-items: center;
      }

      .tile {
        padding: $default-padding - 4px $default-padding + 2px;
        color: $white;

        &.docker {
          background-color: $docker-blue;
        }

        &.google {
          background-color: $google-blue;
        }

        &.amazon {
          background-color: $amazon-orange;
        }

        &.azure {
          background-color: $azure-blue;
        }
      }

      .label {
        margin-left: $default-margin / 2;
        white-space: normal;
        text-align: left;
        font-weight: 600;
        line-height: 20px;
      }

      hab-icon {
        @include icon-size(24);
        margin: 0;
      }
    }
  }
}
